
<!DOCTYPE html>
<html>
<head>
<title>Image Verification Service</title>
<meta name=description content="Detect Image Manipulation" />
<link rel="stylesheet" href="/stylesheets/application.css"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link href='//fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, user-scalable=no,maximum-scale=1.0" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body style="background-color: #4D7F93;">
     <header>
  <h1 style="color: white">Faux-tography</h1>
</header>
<div class=title>
  <h1 class=title style="color: #D9BE5C">An Image Verification Service</h1>
</div>
<br>
<div class="container" style="margin-top: 10%; margin-left: 15%;">
  <img src="\media\mag.png" class="rotateimg40" style="width: 150px; margin-left: 30%;">

  <div class="container" style="align-content: center;">
    <p style="font-size: 20px; color: #FBFDFE; margin-top: 10%;"> Steps: <br> (1) Load your photo into our EXIF analyzer by following the link below and clicking the 'Choose File' button. <br> (2) If the image has been modified, we'll notify you at the bottom of the page. You can then see specific changes with our Error Level Analysis tool. <br> (3) Alternatively (or additionally!), you can scour the web for potential sources of the falsified image. </p>
  </div>
</div>
<div class="container" style="width: 100%; background-color: white; margin-bottom: 10%; border: 5px solid grey; border-radius: 12px;">
  <div class="row">
    <div class="col-md-4"><h2><a href="/main/exif/">(1) Exif / Metadata Analysis </span></a></h2></div> 
    <div class="col-md-4"><h2><a href="/main/ela/">(2) Error Level Analysis </span></a></h2></div> 
    <div class="col-md-4"><h2><a href="http://tineye.com">(3) Reverse Image Search </span></a></h2></div> 
  </div>

 
</script>
</body>
</html>
